<table id="survey-question-header-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>Survey Title: {{surveys.survey.title}}</th>
    </tr>
  </thead>
{{#each questions as |question|}}
      <tr>
        <td>{{question.prompt}}</td>
        <td><button surveyId="{{survey.id}}" type="click" class="btn btn-danger delete-survey-button">Delete</button></td>
      </form>
      </tr>
{{/each}}
</table>
