<table id="survey-question-header-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>Survey Title: {{surveys.survey.title}}</th>
    </tr>
  </thead>
{{#each questions as |question|}}
      <tr>
        <td class="prompt-title">{{question.prompt}}</td>
        <td><button surveyId="{{question.id}}" type="click" class="btn btn-danger delete-question-button">Delete</button></td>
      </form>
      </tr>
{{/each}}
</table>
